.pokemon-card {
    width: 31vh;
    height: 42vh;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    border-radius: 25px;
    transition: all 0.3s ease;
}

.pokemon-card:hover {
    transform: scale(1.075);
}

.pokemon-name {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon-image {
    height: 57%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon-types {
    width: 100%;
    height: 28%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2% 0;
}
