.filter-container {
    display: flex;
    width: 100%;
    /*background-color: red;*/
    padding: 20px;
    justify-content: center;
    align-items: flex-end;
}

.types-container {
    /*background-color: aqua;*/
    height: 212px;
    width: 450px;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    align-content: stretch;
}

.stats-container {
    /*background-color: chartreuse;*/
    height: 212px;
    width: 150px;
    padding: 0;
    align-content: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.pokemon-container {
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.content-container {
    text-align: center;
}

.field-checkbox {
    width: 150px;
    margin: 0;
    padding: 0;
    display: flex;
}

.field-radiobutton {
    width: 150px;
    margin: 0;
    padding: 0;
    display: flex;
}

