.input-container {
    display: flex;
    width: 100%;
    padding: 0 30%;
    justify-content: space-between;
    margin: 20px 0;
}

.input-container-items {
    display: flex;
    align-items: center;
}

.input-container-items > * {
    margin: 10px;
}

.comparison-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.comparison-container > * {
    margin: 10px;
}

.comparison-container-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comparison-container-pokemon {
    width: 20%;
    border: 3px solid #929191;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px 20px 5px;
    justify-content: center;
    position: relative;
}

.comparison-container-pokemon-details {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.comparison-container-pokemon-types {
    display: flex;
    width: 100%;
}

.comparison-container-pokemon-id {
    position: absolute;
    top: 0;
    left: 10px;
    margin: 0;

}

.comparison-container-pokemon-image {
    width: 70%;
}

.comparison-container-chart {
    width: 30%;
}