.pokemon-types {
    width: 100%;
    height: 28%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0;
}

.pokemon-types > div {
    margin: 0;
    height: 45%;
    width: 80%;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}